protocols {
    bgp {
        multipath {
            list-nexthop;
        }
{% for group in bgp.groups %}
        group {{ group.name }} {
            type internal;
            local-address {{ lo0_v6 }};
{% for family in group.family %}
{% if family == "evpn" %}
            family evpn {
                signaling {
                    advertise-srv6-service;
                    accept-srv6-service;
                }
            }
{% elif family == "inet-vpn" %}
            family inet-vpn {
                unicast {
                    extended-nexthop;
                    advertise-srv6-service;
                    accept-srv6-service;
                }
            }
{% elif family == "inet6-vpn" %}
            family inet6-vpn {
                unicast {
                    advertise-srv6-service;
                    accept-srv6-service;
                }
            }
{% endif %}
{% endfor %}
{% for neighbor in group.neighbors %}
            neighbor {{ neighbor }};
{% endfor %}
        }
{% endfor %}
    }
}
routing-options {
    transport-class {
        auto-create;
    }
    router-id {{ lo0_v4 }};
    autonomous-system {{ bgp.asn }};
    route-distinguisher-id {{ lo0_v4 }};
}
