chassis {
    aggregated-devices {
        ethernet {
            device-count 64;
        }
    }
}
interfaces {
    lo0 {
        unit 0 {
{% if lo0_v4 is defined %}
            family inet {
                address {{ lo0_v4 }}/32 {
                    primary;
                }
            }
{% endif %}
{% if lo0_v6 is defined %}
            family inet6 {
                address {{ lo0_v6 }}/128 {
                    primary;
                }
            }
{% endif %}
        }
    }
{% for interface in interfaces %}
{% if interface.members is defined %}
{% for member in interface.members %}
    {{ member }} {
{% if type == 'evo' %}
        ether-options {
{% else %}
        gigether-options {
{% endif %}
            802.3ad {{ interface.name }};
        }
    }
{% endfor %}
{% endif %}
    {{ interface.name }} {
{% if interface.mtu is defined %}
        mtu {{ interface.mtu }};
{% endif %}
{% if interface.members is defined %}
        aggregated-ether-options {
            lacp {
                active;
                periodic fast;
                fast-failover;
            }
        }
{% endif %}
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
{% for vlan in interface.vlans %}
                vlan {
                    members {{ vlan }};
                }
{% endfor %}
            }
        }
    }
{% endfor %}
    irb { 
{% for vlan in vlans %}
        unit {{ vlan.id }} {
{% if vlan.ip_v4 is defined %}
            family inet {
                address {{ vlan.ip_v4 }};
            }
{% endif %}
{% if vlan.ip_v6 is defined %}
            family inet6 {
                address {{ vlan.ip_v6 }};
            }
{% endif %}
        }
{% endfor %}
    }
}
vlans {
{% for vlan in vlans %}
    {{ vlan.name }} {
        vlan-id {{ vlan.id }};
{% if vlan.ip_v4 is defined or vlan.ip_v6 is defined %}
        l3-interface irb.{{ vlan.id }};
{% endif %}
    }
{% endfor %}
}
{% if virtual_routers is defined %}
routing-instances {
{% for vr in virtual_routers %}
    {{ vr.name }} {
        instance-type virtual-router;
        routing-options {
{% if vr.v6_gw is defined %}
            rib {{ vr.name }}.inet6.0 {
                static {
                    route ::/0 next-hop {{ vr.v6_gw }};
                }
            }
{% endif %}
{% if vr.v4_gw is defined %}
            static {
                route 0.0.0.0/0 next-hop {{ vr.v4_gw }};
            }
{% endif %}
        }
{% for interface in vr.interfaces %}
        interface {{ interface }};
{% endfor %}
    }
{% endfor %}
}
{% endif %}
